<div class="app-container">
  <aside class="sidebar">
    <button (click)="navigateTo('request')">
      <i class="fa-solid fa-bell" style="color: #ffffff;"></i>
    </button>
    <button (click)="navigateTo('conversations')">
      <i class="fa-solid fa-message" style="color: #ffffff;"></i>
    </button>
    <button (click)="navigateTo('settings')">
      <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
    </button>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
